<div class="row border mt-5" [style]=" 'background-color:'+ bg_color">
    <div class="col-12 bg-secondary" style="height: 150px;">
        Header banner 1
    </div>
    <!-- CUERPO DEL CARTEL -->


    <div class="col-12 p-2">
        <!-- TITULO -->
        <div class="row justify-content-center m-1">
            <div class="col-12 p-2 rounded" [style]=" 'background-color:'+ titulo_color">
                <editor
                    [apiKey]="apikey"
                    [init]="titulo_init"
                    initialValue="Escribe tu título"
                >
            </editor>
            
            </div>
        </div>
        
        <!-- DEPENDIENDO DEL FORMATO MUESTRA UNO U OTRO -->
        <!-- TODO: SE ENVIA UN OBJETO COMPLETO CON LOS COLORES Y OTRO DIFERENTE CON EL CONTENIDO CON EL OBJETIVO DE PODER REUSARLO Y OBTENER LA INFORMACION -->
        <app-format-one *ngIf="formato===1" [colors]="colors"></app-format-one>
        <app-format-two *ngIf="formato===2" [colors]="colors"></app-format-two>
        <app-format-three *ngIf="formato===3" [colors]="colors"></app-format-three>
    </div>
    
</div>