<div class="row border mt-5" [style]=" 'background-color:'+ colors.bg">
    <div class="col-12 bg-secondary" style="height: 150px;">
        Header banner 1
    </div>
    <!-- CUERPO DEL CARTEL -->


    <div class="col-12 p-2">
        <!-- TITULO -->
        <div class="row justify-content-center m-1">
            <div class="col-12 p-2 rounded" [style]=" 'background-color:'+ cartel.colors.title_bg">
                <editor
                    id="titulo"
                    [apiKey]="g.key"
                    [init]="g.titulo_init"
                    [(ngModel)]="titulo_cont"
                >
                </editor>
            </div>
        </div>
        
        <!-- DEPENDIENDO DEL FORMATO MUESTRA UNO U OTRO -->
        <!-- TODO: SE ENVIA UN OBJETO COMPLETO CON LOS COLORES Y OTRO DIFERENTE CON EL CONTENIDO CON EL OBJETIVO DE PODER REUSARLO Y OBTENER LA INFORMACION -->
        <app-format-one *ngIf="formato===1" 
            [colors]="colors" 
            [bodyCartel]="bodyCartel" 
            [mediaCartel]="mediaCartel"
            ></app-format-one>
        <app-format-two *ngIf="formato===2" 
            [colors]="colors" 
            [bodyCartel]="bodyCartel" 
            [mediaCartel]="mediaCartel"
            ></app-format-two>
        <app-format-three *ngIf="formato===3" 
            [colors]="colors" 
            [bodyCartel]="bodyCartel" 
            [mediaCartel]="mediaCartel"
            ></app-format-three>
    </div>
    
</div>