

<div class="row justify-content-center m-1">
    <!-- PRIMER FILA -->
    <div class="col-12 p-0 ">
        <div class="row mx-0 pb-2 h-100">
            <!-- INTRODUCCION -->
            <div class="col-sm-6 col-12 ps-sm-0 h-sm-100">
                <div class="col-12 p-0 rounded border overflow-hidden mb-2 h-100" [style]=" 'background-color:'+ colors.ap_bg">
                    <div class="row justify-content-center  m-0 p-2 text-head" [style]=" 'background-color:'+ colors.sub_bg+'; color:'+colors.sub_txt">
                        Introducción
                    </div>
                    <div class="row m-1 h-sm-100">
                        <editor
                        class="ap-threef minh-threef"
                        [apiKey]="g.key"
                        [init]="g.ap_init"
                        [(ngModel)]="bodyCartel.intro"
                    ></editor>
                    </div>
                </div>
            </div>
            
            <!-- METODOLOGIA -->
            <div class="col-sm-6 col-12 pe-sm-0 h-sm-100">
                <div class="col-12 p-0 rounded border overflow-hidden mb-2 h-100" [style]=" 'background-color:'+ colors.ap_bg">
                    <div class="row justify-content-center  m-0 p-2 text-head" [style]=" 'background-color:'+ colors.sub_bg+'; color:'+colors.sub_txt">
                        Metodología
                    </div>
                    <div class="row m-1 h-sm-100">
                        <editor
                        class="ap-threef minh-threef"
                        [apiKey]="g.key"
                        [init]="g.ap_init"
                        [(ngModel)]="bodyCartel.metodologia"
                    ></editor>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- SEGUNDA FILA -->
    <div class="col-12 p-0 ">
        <div class="row mx-0 h-100">
            <!-- OBJETIVOS -->
            <div class="col-sm-6 col-12 ps-sm-0 h-sm-100">
                <div class="col-12 p-0 rounded border overflow-hidden mb-2 h-100" [style]=" 'background-color:'+ colors.ap_bg">
                    <div class="row justify-content-center  m-0 p-2 text-head" [style]=" 'background-color:'+ colors.sub_bg+'; color:'+colors.sub_txt">
                        Objetivos
                    </div>
                    <div class="row m-1 h-sm-100">
                        <editor
                        class="ap-threef minh-threef"
                        [apiKey]="g.key"
                        [init]="g.ap_init"
                        [(ngModel)]="bodyCartel.objetivos"
                    ></editor>
                    </div>
                </div>
            </div>
            
            <!-- RESULTADOS -->
            <div class="col-sm-6 col-12 pe-sm-0 h-sm-100">
                <div class="col-12 p-0 rounded border overflow-hidden mb-2 h-100" [style]=" 'background-color:'+ colors.ap_bg">
                    <div class="row justify-content-center  m-0 p-2 text-head" [style]=" 'background-color:'+ colors.sub_bg+'; color:'+colors.sub_txt">
                        Resultados
                    </div>
                    <div class="row m-1 h-sm-100">
                        <editor
                        class="ap-threef minh-threef"
                        [apiKey]="g.key"
                        [init]="g.ap_init"
                        [(ngModel)]="bodyCartel.resultados"
                    ></editor>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- IMAGENES Y GRAFIAS -->
    <div class="col-12 mb-2">
        <div class="row img-container">
            <!-- GRAFICA 1   -->
            <div class="col-sm-6 col-12 p-1 h-sm-100">
                <div class="row m-1 justify-content-center align-items-center border  h-100">
                    <div class="col-auto text-center">
                        <label > URL de gráfica 1</label>
                        <br>
                        <input type="text" placeholder="Ej. sitio.com/grafica.jpg" [(ngModel)]="mediaCartel.grafica1">
                    </div>
                </div>
            </div>
            <!-- IMAGEN 1 -->
            <div class="col-sm-6 col-12 p-1 h-sm-100">
                <div class="row m-1 justify-content-center align-items-center border  h-100">
                    <div class="col-auto text-center">
                        <label > URL de imagen 1</label>
                        <br>
                        <input type="text" placeholder="Ej. sitio.com/imagen.jpg" 
                            [(ngModel)]="mediaCartel.imagenes[0]">
                    </div>
                </div>
            </div>
        </div>
        <div class="row img-container">
            <div class="col-sm-6 col-12 p-1 h-sm-100">
                <!-- GRAFICA 2  -->
                <div class="row m-1 justify-content-center align-items-center border  h-100">
                    <div class="col-auto text-center">
                        <label > URL de gráfica 2</label>
                        <br>
                        <input 
                            type="text" placeholder="Ej. sitio.com/grafica.jpg" 
                            [(ngModel)]="mediaCartel.grafica2"
                            class="form-control">
                    </div>
                </div>
            </div>
            <!-- IMAGEN 2 -->
            <div class="col-sm-6 col-12 p-1 h-sm-100">
                <div class="row m-1 justify-content-center align-items-center border  h-100">
                    <div class="col-auto text-center">
                        <label > URL de imagen 2</label>
                        <br>
                        <input type="text" placeholder="Ej. sitio.com/imagen.jpg" 
                            [(ngModel)]="mediaCartel.imagenes[1]">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CONCLUSION -->
    <div class="col-12 p-0 rounded border overflow-hidden mb-2" [style]=" 'background-color:'+ colors.ap_bg">
        <div class="row justify-content-center  m-0 p-2 text-head" [style]=" 'background-color:'+ colors.sub_bg+'; color:'+colors.sub_txt">
            Conclusión
        </div>
        <div class="row m-1">
            <editor
            class="ap-threef minh-bot-threef"
            [apiKey]="g.key"
            [init]="g.ap_init"
            [(ngModel)]="bodyCartel.conclusion"
        ></editor>
        </div>
    </div>
    <!-- REFERENCIAS -->
    <div class="col-12 p-0 rounded border overflow-hidden mb-2" [style]=" 'background-color:'+ colors.ap_bg">
        <div class="row justify-content-center  m-0 p-2 text-head" [style]=" 'background-color:'+ colors.sub_bg+'; color:'+colors.sub_txt">
            Referencias
        </div>
        <div class="row m-1">
            <editor
            class="ap-threef minh-bot-threef"
            [apiKey]="g.key"
            [init]="g.ap_init"
            [(ngModel)]="bodyCartel.referencias"
        ></editor>
        </div>
    </div>
    <!-- DATOS -->
    <div class="col-12 p-0 rounded border overflow-hidden mb-2" [style]=" 'background-color:'+ colors.ap_bg">
        <div class="row justify-content-center  m-0 p-2 text-head" [style]=" 'background-color:'+ colors.sub_bg+'; color:'+colors.sub_txt">
            Datos de contacto
        </div>
        <div class="row m-1">
            <editor
            class="ap-threef minh-datos-threef"
            [apiKey]="g.key"
            [init]="g.ap_init"
            [(ngModel)]="bodyCartel.datos"
        ></editor>
        </div>
    </div>
</div>