<!-- INTRODUCCION -->

<div class="row justify-content-center m-1">
    <div class="col-12 p-0 rounded border overflow-hidden" [style]=" 'background-color:'+ 'white'">
        <div class="row justify-content-center  m-0 p-2" [style]=" 'background-color:'+ bg_sub">
            Introducción
        </div>
        <div class="row m-1">
            texto
            <!-- <editor
            [apiKey]="apikey"
            [init]="titulo_init"
        ></editor> -->
        </div>
    
    </div>
</div>