/* You can add global styles to this file, and also import other style files */
:root{
    --color-primary: #d76d82;
    --color-primarys: #c94b64;
    --color-secondary: rgb(102, 133, 186);
    --color-purple: #7C4DFF;
    --color-gray: #BDBDBD;
    --color-pinkl:#F8BBD0;
    /* --color-pinkl:#F8BBD0; */

}

.bg-pink{
    background-color: var(--color-primary);
}
.bg-secondary{
    background-color: var(--color-secondary);
}
.txt-light{
    color: aliceblue;
}


/* BOTONES */
.btn-primary{
    background-color: var(--color-primary);
    color: white;
    border: none;
    --bs-btn-active-bg: var(--color-primarys);
}

.btn-primary:hover{
    background-color: var(--color-primarys);
}

.floating-button{
    position: fixed;
    top: 5%;
    padding: 5px 15px 5px 15px;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
}
/* ACORDION */
.accordion{
    --bs-accordion-active-bg: var(--color-secondary);
}

.accordion-button:not(.collapsed){
    color: white;
}
